html {
    background: linear-gradient(to right, #ffb75e, #ed8f03);
}

html,
body {
    height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 335px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.formTitle {
    font-size: 35px;
    font-weight: 600;
    padding: 0 0 10px;
}

button {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: none;
    background: linear-gradient(to right, #ffb75e, #ed8f03);
    height: 3rem;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline;
    box-shadow: #000;
    box-shadow: 1px 1px 5px lightgrey;
}

button:hover {
    opacity: 0.8;
}


a {
    text-align: left;
    color: #FA4299;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text {
    text-align: left;
}

.wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 1px 1px 5px lightgrey;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.slide-controls label.exit {
    color: #000;
}

.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: linear-gradient(to right, #ffb75e, #ed8f03);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
    display: none;
}

#exit:checked~.slider-tab {
    left: 50%;
}

#exit:checked~label.exit {
    color: #fff;
    cursor: default;
    user-select: none;
}

#exit:checked~label.entry {
    color: #000;
}

#entry:checked~label.exit {
    color: #000;
}

#entry:checked~label.entry {
    cursor: default;
    user-select: none;
}

.log {
    padding: 1rem 0 0;
}

.fa-google {
    background:
        linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) 0 25%/48% 40%,
        linear-gradient(to top left, transparent 49%, #fbbc05 50%) 0 75%/48% 40%,

        linear-gradient(-40deg, transparent 53%, #ea4335 54%),
        linear-gradient(45deg, transparent 46%, #4285f4 48%),
        #34a853;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
    border-width: 0;
}

.googleSignIn {
    background: white;
    color: #444444;
    /* border: thin solid #888; */
    box-shadow: 1px 1px 5px lightgrey;
}

@media only screen and (max-width: 500px) {
    html {
        background: white;
    }
    .wrapper {
        box-shadow: none;
    }
    .formTitle {
        padding: 0 0 7.5rem;
    }
    #logEntry {
        margin: 7.5rem 0 0;
    }
}